@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* COLO PRIMARIO */
  /* ====== */
  --primary-color-rojoBrillante: rgb(242, 95, 58);
  --primary-color-rojoSuave: rgb(249, 143, 117);
  --primary-color-azulOscuro: rgb(35, 44, 81);
  /* COLO NEUTRO */
  /* ====== */
  --neutral-color-azulGrisáceoOscuro: rgb(143, 148, 167);
  --neutral-color-azulMuyOscuro: rgba(35, 44, 80, 1);
  --neutral-color-rojoMuyPalido: rgb(255, 239, 234);
  --neutral-color-grisClaro: rgb(249, 249, 249);
}

/****** HEDER ******/
header {
  height: 104px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  padding-left: 11%;
  padding-right: 10%;
}

header div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu-conteiner {
  display: none;
}

button {
  width: 120px;
  height: 40px;
  background: var(--primary-color-rojoBrillante);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;

}

button a {
  font-weight: 500;
  font-size: 13px;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-decoration-line: none;
  color: var(--neutral-color-grisClaro);
}

button:hover {
  background: var(--primary-color-rojoSuave);
}

/****** MAIN ******/
main {
  margin-left: 11%;
  margin-right: 10%;
}

.grafico-conteiner {
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.grafico-conteiner img {
  width: 100%;
}

.grafico-conteiner div {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grafico-conteiner div h1 {
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: var(--neutral-color-azulMuyOscuro);
}

.grafico-conteiner div p {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 15px;
  text-align: center;
  color: #cbccd0;
  margin-top: 10px;
  margin-bottom: 16px;
  line-height: 1.5
}









@media screen and (min-width: 376px) {

  /****** HEDER ******/
  header {
    height: 174px;
  }

  header div {
    align-items: flex-end;
  }

  .menu-conteiner {
    display: flex;
    /* background-color: aliceblue; */
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .menu-conteiner nav {
    /* background-color: aquamarine; */
    width: 89%;
  }

  .menu-conteiner nav ul {
    list-style-type: none;
    display: flex;
    gap: 28px;
    /* background-color: brown; */
    justify-content: center;
  }

  .menu-conteiner nav ul li a {
    text-decoration-line: none;
    color: var(--neutral-color-azulMuyOscuro);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 13px;
  }

  .img-hamburger-icon {
    display: none;
  }

  button {
    width: 134px;
    height: 44px;
    background: var(--primary-color-rojoBrillante);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
  }

  /****** MAIN ******/
  .grafico-conteiner img {
    width: 50%;
  }

  .grafico-conteiner div {
    width: 50%;
    display: block;
  }

  .grafico-conteiner div h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 71px;
    text-align: left;
  }

  .grafico-conteiner div p {
    width: 62%;
    text-align: left;
    font-size: 16px;
    margin-top: 28px;
    margin-bottom: 28px;
    color: var(--neutral-color-azulMuyOscuro);
    line-height: initial;
  }

  .rafaconteiner {
    display: flex;
  }

  .div01 {
    width: 50%;
    /* background-color: yellow; */
  }
  .div01 h2 {
    font-size: 36px;
    width: 433px;
    font-weight: 700;
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  .div01 h6 {
    width: 337px;
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    margin-top: 36px;
  }

  .div02 {
    width: 50%;
    /*     background-color: yellowgreen;
 */
  }

  .pedro {
    display: flex;
    align-items: flex-start;
    width: 473px;
    margin-bottom: 33px;
  }

  .viñeta {
    background-color:var(--primary-color-rojoBrillante);
    border-radius: 50px;
    padding: 10px 25px;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
  }

  .text-conteiner {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 28px;
    gap: 10px;
  }

  .text-conteiner span {
    font-family: 'Be Vietnam Pro', sans-serif;
    /* font-style: normal; */
    font-weight: bold;
    /* font-size: 16px; */
    line-height: 23px;
    /* display: flex; */
    /* align-items: center; */
    letter-spacing: -0.015em;
    color: #323851;
  }

  .text-conteiner p {
    font-family: 'Be Vietnam Pro', sans-serif;
    /* font-style: normal; */
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    /* display: flex; */
    /* align-items: center; */
    letter-spacing: -0.01em;
    color: #B3B2B7;
  }

}