/***** header *****/
header{
  background-color: black;
  text-align: center;
  border-radius: 70%;
}

/***** main *****/
h1{
  text-align: center;
}
.dt-Negritas{
  font-weight: bold;
}
main{
  background-image: url("https://cdn.wallpapersafari.com/86/51/Pe6Vbn.jpg");
  }
main h2{
  color: white;
  background-color: black;
  width: 650px;
}

/***** footer *****/
footer span{
  font-weight: bolder;
}
footer{
  text-align: center;
  background-color: orange;
}
