@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */

header {
  background-color: #222222;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header div nav ul {
  color: white;
  list-style-type: none;
  display: flex;
  gap: 13px;
  font-family: Roboto;
  font-size: 16px;
}

/* MAIN */
main {
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  flex: 1
}

main article:first-child {
  width: 490px;
  height: 350px;
  background-image: url("../img/delivery.jpg");
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

article.firstArticle div {
  margin: 20px;
  color: #FC200C;
}

article div span+span {
  /* selector hermano adyacente  */
  color: white;
}

main article:last-child {
  width: 490px;
  height: 350px;
  background: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.secondArticle span {
  color: #FC200C;
  display: flex;
  justify-content: center;
  margin-top: 26px;
  margin-bottom: 56px;
}

.secondArticle div {
  display: flex;
  justify-content: space-evenly;

}

.secondArticle div div {
  display: flex;
  flex-direction: column;
}

.secondArticle div div h4 {
  margin-bottom: 20px;
}

.secondArticle div div ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: normal;
}

.secondArticle div img {
  width: 92px;
  height: 129px;
}

/* FOOTER */

footer {
  height: 150px;
  background: #222222;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 40px;
}

footer ul {
  color: white;
  font-family: Roboto;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}